<div class="container">
    <ul class="container-list" *ngIf="selectedMessage$ | async as message; else noMessages">
        <li>
            From: {{message.owner.firstName}} {{message.owner.lastName}}
        </li>
        <hr>
        <li>
            <h4>{{message.title}}</h4>
        </li>
        <li>
            <p>{{message.details}}</p>
        </li>
        <li>
            <p>Sent: {{message.dateOfSending | date }}</p>
        </li>
    </ul>
    <ng-template #noMessages>
        <p>There are no messages.</p>
    </ng-template>
</div>