@import "../../../variables.scss";

.container {
  max-width: 120rem;
  min-height: 180rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  font-size: $default-font-size;

  &__card {
    margin-top: 2%;
    margin-left: 5%;
    max-height: 40rem;

    img {
      max-width: 33rem;
      max-height: 18rem;
      object-fit: cover;
      object-position: 50% 20%;
    }
  }

  .mat-card {
    &-header {
      margin-bottom: 15px;
      justify-content: center;
    }

    &-title {
      text-decoration: underline;
      text-decoration-color: $color-slate-gray;
    }

    &-content {
      table {
        text-align: left;
      }
    }

    &-actions {
        padding-bottom: 2rem;
    }
  }
}

.mat-divider {
  margin-top: 0.5rem;
}

.mat-icon {
  margin-bottom: 0.5rem;
}

@media (max-width: 120rem) {
  .container {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;

    &__card {
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
      }
  }
}
