@import '../../../../variables.scss';

.form-container{
    font-size: $default-font-size;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-title {
        padding-bottom: 5px;
        margin-bottom: 5px;
    }

    &-content {
        display: flex;
        justify-content: center;

        &-details {
            width: 300%;
        }
    }

    &-actions {
        display: flex;
        justify-content: center;
    }
}
